
// Main Colors
// $green-primary: #40e804;
$green-primary: #76FF03;
$green-light: #b0ff57;
$green-dark: #32cb00;



$black: #000000;

// Supplementary Colors
$blue: #00c6ff;
$red: #ff3923;
$purple: #5b2984;
$belge: #c6b9a9;

// Font Colors 
$font-primary:#C1C4C8;
$font-light:#f5f5f5;
$font-dark: #80868E;
$font-span: #666;

// Background Colors
$bg-primary: #272E38;
$bg-dark: #1a1f26;

// Helper Colors
$transparent-black-strongest: rgba(0, 0, 0, 0.9);
$transparent-black-stronger: rgba(0, 0, 0, 0.7);
$transparent-black: rgba(0, 0, 0, 0.5);
$transparent-black-weaker: rgba(0, 0, 0, 0.3);
$transparent-black-weakest: rgba(0, 0, 0, 0.1);

$transparent-white-strongest: rgba(255, 255, 255, 0.9);
$transparent-white-stronger: rgba(255, 255, 255, 0.7);
$transparent-white: rgba(255, 255, 255, 0.5);
$transparent-white-weaker: rgba(255, 255, 255, 0.1);
$transparent-white-weakest: rgba(255, 255, 255, 0.1);




