@import '~styles/variables';
@import '~styles/layouts';
:host(app-root) {
  display: flex;
  width: 100%;
  height: 100%;
}



// .mat-sidenav-container {
//   height: 100%;
//   overflow: hidden;
//   background-color: transparent;
// }
// .mat-sidenav-content {
//   height: 100%;
//   position: relative;
//   overflow-y: scroll;
//   overflow-x: hidden;
//   background-color: transparent;
// }
// .mat-sidenav-content::-webkit-scrollbar-track {
//   display: none;
// }
// .mat-sidenav-content::-webkit-scrollbar {
//   display: none;
// }
// .mat-sidenav-content::-webkit-scrollbar-thumb {
//   display: none;
// }
// .mat-sidenav {
//   width: 15vw;
// }
// .selected {
//   /deep/ .mat-list-text {
//     color: $green-primary;
//   }
//   background-color: $transparent-black;
// }
// #wrapper {
//   z-index: 1;
// }
// #addButton {
//   text-align: center;
//   color: $green-primary;
// }
// bg-graphic {
//   z-index: 0;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }
