@import '~styles/variables';
@import '~styles/layouts';
@import '~styles/reactives';
:host {
  display: flex;
  width: 100%;
  height: 100%;
}

#container {
  width: 80%;
  height: 80%;
  overflow: hidden;
  .mat-table {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    a{
      text-decoration: none;
    }
    a:link {
      color: rgba(0,0,0, .6);
    }
    /* visited link */
    a:visited {
      color: rgba(0, 0, 0, .6);

    }
    /* mouse over link */
    a:hover {
      color: rgba(0, 0, 0, .6);

    }
    /* selected link */
    a:active {
      color: rgba(0, 0, 0, .6);
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  z-index: 10; // background-color: $transparent-black-weakest;
}
